*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: PingFang-SC-Medium, sans-serif;
    color: #333333;
    position: relative;
    font-size: 64.5%;
    touch-action: none;
}
@font-face {
    font-family: SourceHanSerifCNRegular;
    src: url("../font/SourceHanSerifCNRegular.ttf");
}
@font-face {
    /* font-properties */
    font-family: PingFang-SC-Medium;
    src: url("../font/PingFangSCMedium.ttf");
}

@font-face {
    /* font-properties */
    font-family: PingFang-SC-Regular;
    src: url("../font/PingFang-SC-Regular.ttf");
}
@font-face {
    font-family: PingFang-SC-Light;
    src: url("../font/PingFangSC-Light.ttf");
}

@font-face {
    /* font-properties */
    font-family: PingFangSCRegular;
    src: url("../font/PingFangSCRegular.ttf");
}
.w-1200 {
    max-width: 1200px;
    margin: 0 auto;
}
.font-20 {
    font-size: 20px;
}
.font-bold {
    font-weight: bold;
}
.col-000 {
    color: #000000!important;
}
.col-eee {
    color: #eeeeee;
}
.col-fff {
    color: #ffffff;
}
.col-333 {
    color: #333333!important;
}
.col-999 {
    color: #999999!important;
}
.pointer {
    cursor: pointer;
}
.mr-60 {
    margin-right: 60px;
}
.mr-65 {
    margin-right: 65px;
}
.font-title-cn {
    font-size: 30px;
    color: #333333;
}
.font-title-cn1 {
    font-size: 24px;
    color: #333333;
}
.font-title-en {
    font-size: 20px;
    color: #999999
}
@media screen and (max-width: 768px){
    .font-title-cn {
        font-size: 18px;
        color: #333333;
    }
    .font-title-en {
        font-size: 12px;
        color: #999999
    }
}
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
a {
    color: #333333;
    display: block;
}
a:hover {
    text-decoration:none;
    color: #333333;
}
a:link,
a:visited{
    color: #333333;
    text-decoration:none;
}
 .navbar {
    min-height: 65px;
    background-color: #ffffff;
    border-color: transparent;
     margin-bottom: 0!important;
}
 .nav-title {
     margin-right: 60px;
 }
 .nav-title-text {
     font-size: 20px;
 }
.header-container {
    height: 100%;
    /*padding-left: 150px;*/
}
.header-container .logo {
    height: 50px;
    width: auto;
    margin-top: -8px;
}
.navbar-collapse {
    float: right;
}
.navbar-brand {
    height: 64px;
}
/*手机头*/
.navbar-button {
    border: none !important;
}
.navbar-button:focus,
.navbar-button:hover {
    background: none !important;
}
.navbar-toggle .icon-bar {
    width: 30px;
    margin-top: 5px;
    margin-bottom: 8px;
    background-color: #0F0F0F!important;
}
.navbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
}
.section1 {
    /*cursor: pointer;*/
    width: 100%;
    height: 750px;
    background: url("../image/bg1.jpg") no-repeat center;
    /*background-size: 100% 100%;*/
    background-size: cover;
    margin-bottom: 20px;
}
.section_title {
    width: 1000px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 200px;
}

.protect-title {
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 1px;
}
.protect-title1 {
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.protect-title2 {
    font-size: 40px;
    color: #3D3D3D;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.protect-title3 {
    font-size: 24px;
    color: #777777;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.protect-btn {
    display: block;
    width: 120px;
    padding: 5px 0;
    border: solid 1px #F1F5F8;
    color: #F1F5F8!important;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
}
.protect-btn1 {
    display: block;
    width: 120px;
    padding: 5px 0;
    border: solid 1px #F1F5F8;
    color: #F1F5F8!important;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
}
.section2 {
    width: 100%;
    height: 750px;
    background: url("../image/bg2.jpg") no-repeat center;
    /*background-size: 100% 100%;*/
    background-size: cover;
    margin-bottom: 20px;
}
.section2 .section_title {
    height: 500px;
}
.section2 .protect-title {
    font-size: 30px;
    color: #666666;
    letter-spacing: 1px;
}
.section2 img {
    width: 200px;
    height: auto;
}
.section3 {
    width: 100%;
    height: 750px;
    background: url("../image/bg3.jpg") no-repeat center;
    /*background-size: 100% 100%;*/
    background-size: cover;
    margin-bottom: 20px;
}
.protect-title4 {
    font-size: 100px;
    font-family: 黑体;
    color: #DDDEE3;
}
.section3 .section_title {
    height: 670px;
    padding-right: 400px;
}
.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.product-card-text {
    font-size: 20px;
    color: #D2D4DF;
    width: 50px;
    text-align: center;
}
.product-card-text1 {
    font-size: 20px;
    color: #D2D4DF;
    width: 60px;
    text-align: center;
}
.section4 {
    width: 100%;
    height: 750px;
    background: url("../image/bg4.jpg") no-repeat center;
    /*background-size: 100% 100%;*/
    background-size: cover;
    margin-bottom: 20px;
}
.section4 .section_title {
    padding-right: 500px;
}
.protect-title4 {
    color: #E1E2E4;
    font-size: 50px;
    font-weight: bold;
}
.protect-title5 {
    color: #D7D7D8;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.section5-parent {
    position: relative;
    width: 100%;
    height: 660px;
    display: flex;
    box-sizing: border-box;
}
.section5-1 {
    flex: 1;
    height: 540px;
    padding: 10px;
}
.section5-1-image {
    flex: 1;
    height: 100%;
    background: url("../image/bg5-1.jpg") no-repeat center;
    /*background-size: 100% 100%;*/
    background-size: cover;
}
.section5-2 {
    flex: 1;
    height: 540px;
    padding: 10px;
}
.section5-2-image {
    flex: 1;
    height: 100%;
    background: url("../image/bg5-2.jpg") no-repeat center;
    /*background-size: 100% 100%;*/
    background-size: cover;
}
.section5-text {
    font-family: SourceHanSerifCNRegular, sans-serif;
    height: 120px;
    font-size: 12px;
    background-color: #565656;
    color: #ffffff;
    padding: 20px;
    letter-spacing: 1px;
}
.section5-text-title {
    font-size: 18px
}
.section5-btn {
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border: solid 1px #ffffff;
    border-radius: 3px;
    color: #ffffff!important;
}
.info {
    position: relative;
    height: 210px;
    display: flex;
    justify-content: center;
    background-color: #404146;
    color: #969696;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 20px;
}
.info-item {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-right: 60px;
}
.info-item:last-child {
    margin-right: 0;
}
.info-item a {
    color: #969696;
}
.mobile-info-parent {
    background-color: #E8E8E8;
}
.mobile-info {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #E8E8E8;
    color: #000;
    border-bottom: solid 1px #B2B2B2;
    margin:0 15px;
    padding: 10px 0;
}
.mobile-info-no-line {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #E8E8E8;
    color: #000;
    margin:0 15px;
    padding: 10px 0;
}
.mobile-info-child {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #E8E8E8;
    color: #333;
    margin:0 15px;
    padding: 5px 0;
}
.about-content {
    display: none;
}
.center-content {
    display: none;
}
.message-content {
    display: none;
}
.contact-content {
    display: none;
}
.footer {
    position: relative;
    height: 45px;
    background-color: #2D2E31;
    font-size: 14px;
    color: #969696;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .line {
    width: 1px;
    height: 20px;
    display: inline-block;
    background-color: #444446;
    margin: 0 20px;
}
.mobile-footer {
    background-color: #2D2E31;
    font-size: 14px;
    color: #969696;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
@media screen and (max-width: 768px) {
    .navbar-collapse {
        float: none;
    }
    .nav-title-text {
        font-size: 15px;
    }
    .section1  {
        height: 200px;
        margin-bottom: 10px;
    }
    .section_title {
        width: 60%;
        height: 100%;
        margin: 0;
        padding: 10px;
    }

    .protect-title {
        font-size: 16px;
    }
    .protect-title1 {
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .protect-title2 {
        font-size: 18px;
        color: #3D3D3D;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .protect-title3 {
        font-size: 12px;
        color: #777777;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .protect-btn {
        display: block;
        width: 100px;
        padding: 5px 0;
        border: solid 1px #999999;
        color: #999999!important;
        border-radius: 3px;
        font-size: 14px;
        text-align: center;
    }
    .protect-btn1 {
        display: block;
        width: 100px;
        padding: 5px 0;
        border: solid 1px #ffffff;
        color: #ffffff!important;
        border-radius: 3px;
        font-size: 14px;
        text-align: center;
    }
    .section2 {
        width: 100%;
        height: 750px;
        background: url("../image/bg2.jpg") no-repeat center;
        /*background-size: 100% 100%;*/
        background-size: cover;
        margin-bottom: 20px;
    }
    .section2 .section_title {
        height: 100%;
    }
    .section2 .protect-title {
        font-size: 16px;
        color: #666666;
        letter-spacing: 1px;
    }
    .section2 img {
        width: 80px;
        height: auto;
    }
    .section3 {
        width: 100%;
        height: 750px;
        background: url("../image/bg3.jpg") no-repeat center;
        /*background-size: 100% 100%;*/
        background-size: cover;
        margin-bottom: 20px;
    }
    .protect-title4 {
        font-size: 20px;
        font-family: 黑体;
        color: #DDDEE3;
    }
    .section3 .section_title {
        width: 50%;
        height: 100%;
        padding-right: 0;
    }
    .product-card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
    .product-card img {
        width: 20%;
    }
    .product-card-text {
        font-size: 12px;
        color: #D2D4DF;
        width: 25%;
        text-align: center;
    }
    .product-card-text1 {
        font-size: 12px;
        color: #D2D4DF;
        width: 25%;
        text-align: center;
    }
    .section4 {
        width: 100%;
        height: 750px;
        background: url("../image/bg4.jpg") no-repeat center;
        /*background-size: 100% 100%;*/
        background-size: cover;
        margin-bottom: 20px;
    }
    .section4 .section_title {
        width: 50%;
        padding-right: 0;
    }
    .protect-title4 {
        color: #E1E2E4;
        font-size: 16px;
        font-weight: bold;
    }
    .protect-title5 {
        color: #D7D7D8;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .section2 {
        height: 200px;
        margin-bottom: 10px;
    }
    .section3 {
        height: 200px;
        margin-bottom: 10px;
    }
    .section4 {
        height: 200px;
        margin-bottom: 10px;
    }
    .section5-parent {
        height: 220px;
    }
    .section5-1 {
        height: 120px;
    }
    .section5-2 {
        height: 120px;
    }
    .section5-text-title {
        font-size: 12px;
    }
    .section5-text {
        height: 110px;
        font-size: 12px;
        padding: 5px;
        letter-spacing: 1px;
    }
    .section5-btn {
        margin-top: 5px;
    }
}
@media screen and (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 22px;
        padding-bottom: 22px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .nav-title {
        margin-right: 20px;
    }
    .section1 {
        height: 350px;
    }
    .protect-title1 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .section_title {
        padding-bottom: 50px;
    }
    .section2 {
        height: 350px;
    }
    .section2 .section_title {
        padding-bottom: 50px;
    }
    .protect-title2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .section3 {
        height: 350px;
    }
    .section4 {
        height: 350px;
    }
    .section5-parent {
        height: 360px;
    }
    .section5-1 {
        height: 260px;
    }
    .section5-2 {
        height: 260px;
    }
}
