.swiper1 .swiper-slide {
    height: 610px;
}

.swiper1 .swiper-slide-ad1 {
    background: url("../image/product/product_01.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.swiper1.swiper-container {
    --swiper-navigation-color: #969797; /* 单独设置按钮颜色 */
}

.product_section1 {
    padding-top: 30px;
    text-align: center;
}

.product_section1_title {
    margin-bottom: 20px;
}

.product_section4 {
    display: flex;
    width: 1000px;
    margin: 30px auto;
    background-color: #F8F8F8;
}
.product_section4_image img{
    height: 300px;
}
.product_section4_text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    color: #666666;
    display: flex;
    flex-direction: column;
}
.product_section4_text_title {
    font-size: 30px;
    color: #333333;
    padding: 10px 0;
    margin-top: 30px;
}
.product_section4_text_content {
    color: #777777;
    flex: 1;
}

.product_section2 {
    background: url("../image/info/info_04.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.product_section2_title {
    text-align: center;
    padding: 50px 0 30px;
}
.product_section2_title .font-title-cn{
    color: #ffffff;
}
.product_section2_content {
    width: 1000px;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
}
.product_section2_content_card {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.product_section2_content_card_title {
    color: #eeeeee;
    font-size: 28px;
    margin-top: 10px;
}
.product_section3 {
    text-align: center;
    margin: 40px 0;
}

.swiper2 {
    width: 1000px;
    margin: 0 auto;
}

.swiper2 .swiper-button-prev {
    /*margin-left: -20px;*/
}

.swiper2 .swiper-slide {
    height: 305px;
}

.swiper2.swiper-container {
    --swiper-navigation-color: #969797; /* 单独设置按钮颜色 */
    --swiper-navigation-size: 35px;
}

.swiper2-slide-ad1 {
    background: url("../image/info/info_23.jpg") no-repeat center;
    background-size: cover;
    height: 214px;
    width: 320px;
}

.swiper2-slide-ad2 {
    background: url("../image/info/info_25.jpg") no-repeat center;
    background-size: cover;
    height: 214px;
    width: 320px;
}

.swiper2-slide-ad3 {
    background: url("../image/info/info_27.jpg") no-repeat center;
    background-size: cover;
    height: 214px;
    width: 320px;
}

.swiper2-title {
    width: 320px;
    height: 90px;
    background-color: #565656;
    color: #ffffff;
}

.swiper2-title-title {
    box-sizing: border-box;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .swiper-slide {
        width: 100%;
        height: 200px;
    }

    .swiper1.swiper-container {
        --swiper-navigation-size: 20px;
    }

    .swiper2.swiper-container {
        --swiper-navigation-color: #969797; /* 单独设置按钮颜色 */
    }
    .swiper1 .swiper-slide {
        height: 200px;
    }
    .product_section1 {
        padding-top: 30px;
    }

    .product_section1_title {
        margin-bottom: 20px;
    }

    .product_section4 {
        display: flex;
        width: 100%;
        margin: 30px auto;
        background-color: #F8F8F8;
    }
    .product_section4_mobile_parent {
        display: flex;
        flex-wrap: wrap;
        padding-left: 2%;
        background-color: #F6F6F6;
    }
    .product_section4_mobile{
        width: 47%;
        margin-right: 2%;
        margin-bottom: 10px;
    }
    .product_section4_image img{
        height: 145px;
        width: auto;
        max-width: 100%;
    }
    .product_section4_text {
        flex: 1;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        height: 145px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .product_section4_text_title {
        font-size: 12px;
        padding: 10px 0;
        margin-top: 0;
    }
    .product_section4_text_title .font-title-cn1 {
        font-size: 16px;
    }
    .product_section4_text_content {
        font-size: 12px;
    }
    .product_section2_content {
        width: 100%;
    }
    .product_section2_content_card img {
        width: 90%;
    }
    .product_section2_content_card_title {
        color: #eeeeee;
        font-size: 16px;
        margin-top: 10px;
    }
    .product_section3 {
        text-align: center;
        margin: 40px 0;
    }

    .swiper3 {
        width: 100%;
    }

    .swiper3 .swiper-button-prev {
        /*margin-left: -20px;*/
    }

    .swiper3 .swiper-slide {
        height: 240px;
    }

    .swiper3.swiper-container {
        --swiper-navigation-color: #969797; /* 单独设置按钮颜色 */
        --swiper-navigation-size: 20px;
    }

    .swiper3-slide-ad1 {
        background: url("../image/info/info_23.jpg") no-repeat center;
        background-size: cover;
        height: 150px;
        width: 100%;
    }

    .swiper3-slide-ad2 {
        background: url("../image/info/info_25.jpg") no-repeat center;
        background-size: cover;
        height: 150px;
        width: 100%;
    }

    .swiper3-slide-ad3 {
        background: url("../image/info/info_27.jpg") no-repeat center;
        background-size: cover;
        height: 150px;
        width: 100%;
    }

    .swiper3-title {
        width: 100%;
        height: 90px;
        background-color: #565656;
        color: #ffffff;
    }

    .swiper3-title-title {
        box-sizing: border-box;
        font-size: 12px;
        padding: 10px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .swiper3 {
        width: 100%;
    }

    .swiper3 .swiper-button-prev {
        /*margin-left: -20px;*/
    }

    .swiper3 .swiper-slide {
        height: 240px;
    }

    .swiper3.swiper-container {
        --swiper-navigation-color: #969797; /* 单独设置按钮颜色 */
        --swiper-navigation-size: 20px;
    }

    .swiper3-slide-ad1 {
        background: url("../image/info/info_23.jpg") no-repeat center;
        background-size: cover;
        height: 150px;
        width: 100%;
    }

    .swiper3-slide-ad2 {
        background: url("../image/info/info_25.jpg") no-repeat center;
        background-size: cover;
        height: 150px;
        width: 100%;
    }

    .swiper3-slide-ad3 {
        background: url("../image/info/info_27.jpg") no-repeat center;
        background-size: cover;
        height: 150px;
        width: 100%;
    }

    .swiper3-title {
        width: 100%;
        height: 90px;
        background-color: #565656;
        color: #ffffff;
    }

    .swiper3-title-title {
        box-sizing: border-box;
        font-size: 12px;
        padding: 15px 0;
    }
}
